

body{
	background-color: #000000;
}


h1 {
	color: #41bf7e;
	font-family:  'Lacquer', cursive;
	font-size: 75px;
	text-shadow: 3px 3px #FFFFFF;
}

#villager, #seer, #werewolf, #witch {
	width: 20%;
	height: 20%;
}

#modDiv, #bodyDiv {
	background-color: #000000;
	max-width: 95%;
	margin: 0 auto;
}

#modDiv {
	height: 50%;
}


p {
	color: #41bf7e;
	font-family:  'Lacquer', cursive;
	text-align: left;
	font-size: 22px;
}


#displayPlayerCharacter {
	z-index: 3;
	position: absolute;
	max-width: 95%;
	margin: 45px;
}

#displayPlayerCharacter>img {
	opacity: 0.87;
	margin: 2px;
	width: 15%;
	height: 5%;
	margin: 2px 15px;

}

#buttons {
	z-index: 2;
	position: absolute;
}